<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-parcours-heading" data-cy="ParcoursCreateUpdateHeading" jhiTranslate="inscriptionApp.parcours.home.createOrEditLabel">
        Créer ou éditer un Parcours
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.etablissement" for="field_etablissement">Etablissement</label>
          <input
            type="text"
            class="form-control"
            name="etablissement"
            id="field_etablissement"
            data-cy="etablissement"
            formControlName="etablissement"
          />
          @if (editForm.get('etablissement')!.invalid && (editForm.get('etablissement')!.dirty || editForm.get('etablissement')!.touched)) {
            <div>
              @if (editForm.get('etablissement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.specialisation" for="field_specialisation">Specialisation</label>
          <input
            type="text"
            class="form-control"
            name="specialisation"
            id="field_specialisation"
            data-cy="specialisation"
            formControlName="specialisation"
          />
          @if (
            editForm.get('specialisation')!.invalid && (editForm.get('specialisation')!.dirty || editForm.get('specialisation')!.touched)
          ) {
            <div>
              @if (editForm.get('specialisation')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.niveau" for="field_niveau">Niveau</label>
          <select class="form-control" name="niveau" formControlName="niveau" id="field_niveau" data-cy="niveau">
            <option [ngValue]="null">{{ 'inscriptionApp.NiveauEtude.null' | translate }}</option>
            @for (niveauEtude of niveauEtudeValues; track $index) {
              <option [value]="niveauEtude">{{ 'inscriptionApp.NiveauEtude.' + niveauEtude | translate }}</option>
            }
          </select>
          @if (editForm.get('niveau')!.invalid && (editForm.get('niveau')!.dirty || editForm.get('niveau')!.touched)) {
            <div>
              @if (editForm.get('niveau')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.commentaire" for="field_commentaire">Commentaire</label>
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="d-flex">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="datetime-local"
              class="form-control"
              name="dateDebut"
              formControlName="dateDebut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)) {
            <div>
              @if (editForm.get('dateDebut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateDebut')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.dateFin" for="field_dateFin">Date Fin</label>
          <div class="d-flex">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="datetime-local"
              class="form-control"
              name="dateFin"
              formControlName="dateFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dateFin')!.invalid && (editForm.get('dateFin')!.dirty || editForm.get('dateFin')!.touched)) {
            <div>
              @if (editForm.get('dateFin')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateFin')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.parcours.candidat" for="field_candidat">Candidat</label>
          <select
            class="form-control"
            id="field_candidat"
            data-cy="candidat"
            name="candidat"
            formControlName="candidat"
            [compareWith]="compareCandidat"
          >
            @if (editForm.get(['candidat'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (candidatOption of candidatsSharedCollection; track $index) {
              <option [ngValue]="candidatOption">{{ candidatOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['candidat'])!.invalid && (editForm.get(['candidat'])!.dirty || editForm.get(['candidat'])!.touched)) {
          <div>
            @if (editForm.get(['candidat'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
