<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (parcours) {
      <div>
        <h2 data-cy="parcoursDetailsHeading"><span jhiTranslate="inscriptionApp.parcours.detail.title">Parcours</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ parcours.id }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.etablissement">Etablissement</span></dt>
          <dd>
            <span>{{ parcours.etablissement }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.specialisation">Specialisation</span></dt>
          <dd>
            <span>{{ parcours.specialisation }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.niveau">Niveau</span></dt>
          <dd>
            <span jhiTranslate="{{ 'inscriptionApp.NiveauEtude.' + parcours.niveau }}">{{ parcours.niveau }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.commentaire">Commentaire</span></dt>
          <dd>
            <span>{{ parcours.commentaire }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ parcours.dateDebut | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ parcours.dateFin | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="inscriptionApp.parcours.candidat">Candidat</span></dt>
          <dd>
            @if (parcours.candidat) {
              <div>
                <a [routerLink]="['/candidat', parcours.candidat.id, 'view']">{{ parcours.candidat.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/parcours', parcours.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
