<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contact-urgence-heading"
        data-cy="ContactUrgenceCreateUpdateHeading"
        jhiTranslate="inscriptionApp.contactUrgence.home.createOrEditLabel"
      >
        Créer ou éditer un Contact Urgence
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.contactUrgence.nomComplet" for="field_nomComplet">Nom Complet</label>
          <input
            type="text"
            class="form-control"
            name="nomComplet"
            id="field_nomComplet"
            data-cy="nomComplet"
            formControlName="nomComplet"
          />
          @if (editForm.get('nomComplet')!.invalid && (editForm.get('nomComplet')!.dirty || editForm.get('nomComplet')!.touched)) {
            <div>
              @if (editForm.get('nomComplet')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.contactUrgence.lienParente" for="field_lienParente">Lien Parente</label>
          <input
            type="text"
            class="form-control"
            name="lienParente"
            id="field_lienParente"
            data-cy="lienParente"
            formControlName="lienParente"
          />
          @if (editForm.get('lienParente')!.invalid && (editForm.get('lienParente')!.dirty || editForm.get('lienParente')!.touched)) {
            <div>
              @if (editForm.get('lienParente')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.contactUrgence.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
          @if (editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)) {
            <div>
              @if (editForm.get('telephone')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.contactUrgence.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.contactUrgence.candidat" for="field_candidat">Candidat</label>
          <select
            class="form-control"
            id="field_candidat"
            data-cy="candidat"
            name="candidat"
            formControlName="candidat"
            [compareWith]="compareCandidat"
          >
            @if (editForm.get(['candidat'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (candidatOption of candidatsCollection; track $index) {
              <option [ngValue]="candidatOption">{{ candidatOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['candidat'])!.invalid && (editForm.get(['candidat'])!.dirty || editForm.get(['candidat'])!.touched)) {
          <div>
            @if (editForm.get(['candidat'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
