<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-rendez-vous-heading"
        data-cy="RendezVousCreateUpdateHeading"
        jhiTranslate="inscriptionApp.rendezVous.home.createOrEditLabel"
      >
        Créer ou éditer un Rendez Vous
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.rendezVous.dateRdv" for="field_dateRdv">Date Rdv</label>
          <div class="d-flex">
            <input
              id="field_dateRdv"
              data-cy="dateRdv"
              type="datetime-local"
              class="form-control"
              name="dateRdv"
              formControlName="dateRdv"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('dateRdv')!.invalid && (editForm.get('dateRdv')!.dirty || editForm.get('dateRdv')!.touched)) {
            <div>
              @if (editForm.get('dateRdv')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateRdv')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.rendezVous.motif" for="field_motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
          @if (editForm.get('motif')!.invalid && (editForm.get('motif')!.dirty || editForm.get('motif')!.touched)) {
            <div>
              @if (editForm.get('motif')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.rendezVous.statut" for="field_statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'inscriptionApp.statutRdv.null' | translate }}</option>
            @for (statutRdv of statutRdvValues; track $index) {
              <option [value]="statutRdv">{{ 'inscriptionApp.statutRdv.' + statutRdv | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.rendezVous.commentaire" for="field_commentaire">Commentaire</label>
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inscriptionApp.rendezVous.candidat" for="field_candidat">Candidat</label>
          <select
            class="form-control"
            id="field_candidat"
            data-cy="candidat"
            name="candidat"
            formControlName="candidat"
            [compareWith]="compareCandidat"
          >
            @if (editForm.get(['candidat'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (candidatOption of candidatsSharedCollection; track $index) {
              <option [ngValue]="candidatOption">{{ candidatOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['candidat'])!.invalid && (editForm.get(['candidat'])!.dirty || editForm.get(['candidat'])!.touched)) {
          <div>
            @if (editForm.get(['candidat'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
