<div>
  <h2 id="page-heading" data-cy="ParcoursHeading">
    <span jhiTranslate="inscriptionApp.parcours.home.title">Parcours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inscriptionApp.parcours.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parcours"
        [routerLink]="['/parcours/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inscriptionApp.parcours.home.createLabel">Créer un nouveau Parcours</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (parcours?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="inscriptionApp.parcours.home.notFound">Aucun Parcours trouvé</span>
    </div>
  }

  @if (parcours && parcours.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etablissement">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.etablissement">Etablissement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="specialisation">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.specialisation">Specialisation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="niveau">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.niveau">Niveau</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commentaire">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.commentaire">Commentaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDebut">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.dateDebut">Date Debut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFin">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.dateFin">Date Fin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="candidat.id">
              <div class="d-flex">
                <span jhiTranslate="inscriptionApp.parcours.candidat">Candidat</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (parcours of parcours; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/parcours', parcours.id, 'view']">{{ parcours.id }}</a>
              </td>
              <td>{{ parcours.etablissement }}</td>
              <td>{{ parcours.specialisation }}</td>
              <td jhiTranslate="{{ 'inscriptionApp.NiveauEtude.' + parcours.niveau }}">{{ parcours.niveau }}</td>
              <td>{{ parcours.commentaire }}</td>
              <td>{{ parcours.dateDebut | formatMediumDatetime }}</td>
              <td>{{ parcours.dateFin | formatMediumDatetime }}</td>
              <td>
                @if (parcours.candidat) {
                  <div>
                    <a [routerLink]="['/candidat', parcours.candidat.id, 'view']">{{ parcours.candidat.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/parcours', parcours.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/parcours', parcours.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(parcours)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (parcours && parcours.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
